.style {
     .img-sizes {
          width: 80px;
          height: 80px;
          border-radius: 50%;
     }
     .shadow-style{
          position: absolute;
          border-radius: 85px;
          margin-top: -80px;
          
     }

     @media only screen and (max-width: 600px) {
          .shadow-style{
               position: relative;
               border-radius: 0px;
               margin-top: 20px;
               box-shadow: 0 0rem 0rem rgba(black, .0) !important;
          }
     }
}