@keyframes fillAnimation {
     0% {
       transform: translateX(100%);
       background-color: transparent;
     }
     100% {
       transform: translateX(0);
       background-color: rgb(254, 83, 15);
     }
   }
.areaBgColor{
 background-color: transparent;
 animation: fillAnimation 3s linear forwards;

}
.areaWHtmlCss{
 width: 95%;
}
.areaWBT{
 width: 92%;
}
.areaWJS{
 width: 85%;
}
.areaWReactFM{
 width: 90%;
}
.areaWNode{
 width: 80%;
}
.areaWExpress{
 width: 85%;
}
@media only screen and (max-width: 600px) {
     .mtop{
          margin-top: 50px;
     }
}