.progress-bar {
  background-color: lightgray;
  overflow: hidden;
}

.progress-line {
  width: 0;
  height: 100%;
  background-color: rgb(254, 83, 15);
  animation: progress-animation 4s linear forwards;
}

@keyframes progress-animation {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
@media only screen and (max-width: 600px) {
     .mtop{
          margin-top: 50px;
     }
}