.progress{
  height: 25%;
}

.progress-line-1,
.progress-line-2,
.progress-line-5,
.progress-line-36,
.progress-line-478 {
  width: 0;
  height: 100%;
  background-color: rgb(254, 83, 15);
  animation: progress-animation 5s linear forwards;
}

.progress-line-1 {
  width: 0;
  animation-name: progress-animation-1;
}

.progress-line-2 {
  width: 0;
  animation-name: progress-animation-2;
}
.progress-line-5 {
  width: 0;
  animation-name: progress-animation-5;
}
.progress-line-36 {
  width: 0;
  animation-name: progress-animation-36;
}
.progress-line-478 {
  width: 0;
  animation-name: progress-animation-478;
}

@keyframes progress-animation-1 {
  0% {
    width: 0;
  }
  100% {
    width: 95%;
  }
}

@keyframes progress-animation-2 {
  0% {
    width: 0;
  }
  100% {
    width: 92%;
  }
}
@keyframes progress-animation-5 {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}

@keyframes progress-animation-36 {
  0% {
    width: 0;
  }
  100% {
    width: 85%;
  }
}

@keyframes progress-animation-478 {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}

@media only screen and (max-width: 600px) {
     .mtop{
          margin-top: 50px;
     }
}