.section-1{
     background-color: #f5f2f0;
}
.org-color{
     color: rgb(254, 95, 37);
}
.ling-height{
     line-height: 1px;
}
.name{
     font-size: 366%;
}
.button1 {
     background-color: rgb(251, 81, 14);
     border: none;
     color: white;
     padding: 12px 25px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 20px;
     margin: 4px 2px;
     cursor: pointer;
     border-radius: 50px;
   }
   .button1:hover{
     background-color: #f4e5da;
     color: rgb(254, 83, 15);
     border: 2px solid rgb(253, 78, 9);
   }
   .myPic{
     width: 100%;
     height: 555px;
     @media only screen and (max-width: 600px) {
          .myPic{
               height: 0px;
          }
     }
   }