
.section-1 {
     background-color: #f5f2f0;
     
}

.org-color {
     color: rgb(254, 95, 37);
}

.ling-height {
     line-height: 1px;
}

.name {
     font-size: 366%;
}

.button1 {
     background-color: rgb(251, 81, 14);
     border: none;
     color: white;
     padding: 12px 25px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 20px;
     margin: 4px 2px;
     cursor: pointer;
     border-radius: 50px;
}
.button2 {
     background-color: rgb(251, 81, 14);
     border: none;
     color: white;
     /* padding: 12px 22px; */
     padding: 0px 22px 7px 22px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 20px;
     margin: 4px 2px;
     cursor: pointer;
     border-radius: 50px;
}
.iconSize{
     font-size: 32px;
}

.button2:hover {
     background-color: #f4e5da;
     color: rgb(254, 83, 15);
     border: 2px solid rgb(253, 78, 9);
}

.borderNone{
     border: none;
}

.aBtn {
     color: white;
     text-decoration: none;
}

.aBtn:hover {
     color: rgb(254, 83, 15);
}

.button1:hover {
     background-color: #f4e5da;
     color: rgb(254, 83, 15);
     border: 2px solid rgb(253, 78, 9);
}

.myPic {
     width: 100%;
     height: 666px;
}

@media only screen and (max-width: 600px) {
     .textSmCenter {
          text-align: center !important;
     }
     .myPic{
          height: 444px;
     }
}
.fontSize{
     font-size: 17px;
}