.iconColor{
    color: #132963;
}
.icon {
     width: 50px; 
     text-align: center;
     font-size: 30px;
 }
 .icon a{
    color: rgb(66, 64, 64);
 }
 .icon a:hover{
     color: #e73e3e !important;
 }
 .sendButton {
    background-color: rgb(255, 72, 0);
    border: none;
    color: white;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
  }